.newsletter-container {
  background-image:linear-gradient(to bottom, #E3A5C7 0%,#B692C2 100%);
  padding: 20px 20px;
  text-align: center;
}

.newsletter-content {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  background-image:linear-gradient(to bottom, #E3A5C7 0%,#B692C2 100%);
  border-radius: 8px;
  padding: 20px;
  max-width: 1200px; /* Increase width for more space */
  margin: 0 auto;
  gap: 150px; /* Space between elements */
}

.newsletter-content i {
  font-size: 5em; /* Size of the icon */
  color: white; /* Color of the icon */
}

.newsletter-text {
  flex: 1; /* Take up remaining space */
  text-align: left; /* Align text to the left */
}

.newsletter-content h2 {
  font-size: 2em;
  color: white;
  margin-bottom: 10px;
}

.newsletter-content p {
  font-size: 1em;
  color: white;
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between input and button */
  flex: 1; /* Take up remaining space */
}

.newsletter-form input {
  padding: 10px 15px;
  border: 1px solid #B692C2;
  border-radius: 5px;
  font-size: 1em;
  flex: 1;
}

.newsletter-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #694F8E;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #5d0000;
}

.error-message {
  color: #ff3f6c;
  font-size: 0.9em;
}

.success-message {
  color: #28a745;
  font-size: 0.9em;
}
