.ProfileSection.popup-menu {
  background-color: white;
  color: black;
  width: 250px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.login-signup-btn {
  width: 100%;
  padding: 10px;
  background-color: pink;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.profile-menu {
  list-style-type: none;
  padding: 0;
}

.profile-menu li {
  margin-bottom: 10px;
}

.profile-menu a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 5px 0;
}

.new-tag {
  background-color: #ff4500;
  color: black;
  font-size: 0.8em;
  padding: 2px 5px;
  border-radius: 3px;
  margin-left: 5px;
}