.hero-container {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.slick-slider {
    width: auto;
    height: auto;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-slide img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.slick-prev, .slick-next {
    z-index: 20;  /* Increased z-index to ensure arrows are above the image */
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev {
    left: 20px;  /* Moved slightly inward for visibility */
}

.slick-next {
    right: 20px;  /* Moved slightly inward for visibility */
}

.slick-prev:before, .slick-next:before {
    font-size: 40px;
    color: black;
    opacity: 0.75;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);  /* Added text shadow for better contrast */
}